/* ========================================
   INICIO HEADER - ESCRITORIO
======================================== */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
  
}
.Header_Container{
    width: 100%;
    max-width: 100%;
    background-color: #f1ffb6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px; 

}
.Menu_Hamburguesa {
    display: none;
}
.Logo_Header img{
    height: 50px;
    width: auto;
    padding-left: 5px;  
}

.menu ul{     
    display: flex;
    list-style: none;  
    gap: 20px;
    text-decoration: none;      
    
}
.menu a{
    font-family: "National Park";
    color: #9dba3b;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;  
  
}
.menu a:hover{
    font-weight: 800;
    color: #a64343;
}
.menu a.pagina-activa{
    font-weight: 800;
    color: #a64343;
}
.Social_Media{
    display: flex;
    gap:20px;
    padding-right: 5px;
}
.Social_Media i{
    font-size: 30px;
    color: #5d8843;
    transition: transform 0.3s ease, filter 0.3s ease;   
   
}
.Social_Media i:hover{
    transform: scale(1.15);
    color: #474f41;

}
/* ========================================
   FIN HEADER - ESCRITORIO
======================================== */
@media (max-width: 768px) {
/* =========================
   inicio HEADER - CELULAR
========================= */

.Header_Container {
    position: relative;
    justify-content: center;
    padding: 10px 15px;
}

    .Logo_Header img {
        height: 55px;        
        padding-left: 0;
    }

    /* BOTÓN HAMBURGUESA */

  .Menu_Hamburguesa {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: none;
    color: #5d8843;
    font-size: 26px;
    cursor: pointer;
}

    /* MENÚ MÓVIL */

    .menu ul {
        display: none;
        position: fixed;
        top: 75px;
        left: 0;
        width: 100%;
        height: calc(100vh - 75px);
        padding: 40px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: rgb(241, 255, 182, 90%);
        overflow-y: auto;
    }

    .menu ul.menu-abierto {
        display: flex;
    }

    /* ENLACES */

    .menu li {
        list-style: none;
        border-top: 2px solid #9dba3b;
        border-bottom: 2px solid #9dba3b;
        width: 80%;
    }

    .menu a {
        display: block;
        font-size: 25px;
        font-weight: 200;
        text-align: center;
        color: #5d8843;
        text-decoration: none;
         
    }

    .menu a:hover{
        font-size: 18px;
        font-weight: 800;
        text-align: center;
        color: #a64343;

    }
    .menu a.pagina-activa {      
        font-weight: 800;
    }

    /* CONTACTO NO APARECE EN EL MENÚ MÓVIL */

    .Contacto_Menu {
        display: none;
    }

    /* REDES DEL HEADER */

    .Social_Media {
        display: none;
    }

/* =========================
   FIN/HEADER CELULAR
========================= */
}